@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1{
    width: 100%;
    text-align: center;
}
img{
    width: 30%;
    height: 30%;
}

img{
    width: 80%;
    height: 80%;
}

div p{
    margin: 0px;
}

main p {
    text-align: justify;
    margin-top: 10%;
    font-size: 150%;
}

@media screen and (max-width: 600px){
    div h1{
        font-size: 165%;
    }

    img{
        width: 75%;
        height: 75%;
    }

    main p {
        font-size: 100%;
    }
}